#playButton{
  font-size: 22px;
    width: 135px;
    color: black;
}
#waveButtons{
  display: flex;
  gap: 10px;
}
#waveButtons button{
  font-size: 22px;
    width: 135px;
    color: green;
}
button.selected {
    border: 2px solid green;
}
