.calculator{
    width: 260px;
}
#display{
    font-size:45px;
    text-align: right;
}
button{
    font-size:45px;
    width:60px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px
}
#ACbutton {
    font-size:35px;
}
#fugo {
    font-size: 33px;
}