.calculator{
    width: 260px;
}
#display{
    font-size:45px;
    text-align: right;
}
button{
    font-size:45px;
    width:60px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px
}
#Cbutton {
    font-size:35px;
}
#ACbutton {
    font-size:35px;
    background-color: #FFC348;
}
#fugo {
    font-size: 33px;
}
li {
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    color: #868686;
    display: flex;
    justify-content: space-between;
}
.deleteButton {
    width: 45px;
    height: 24px;
    font-size: 15px;
}
#display{
    overflow: hidden;
    text-align: right;
    overflow-x: auto;
}