.container{
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #ddd;
}
#category{
    font-family: sans-serif;
}
#categoryBtns button{
    font-size: 22px;
    width: 135px;
    color: green;
}
.nav {
    font-size: 23px;
    position: fixed;
    bottom: 0;
}
.nav button {
    font-size: 23px;
    width: 140px;
}
#entryBudget {
    font-size: 40px;
    margin-top: 35px;
}
li{
    border-bottom: 1px solid #ddd;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}
button.selected {
    border: 2px solid green;
}